.wrapper {
  position: relative;
  margin-bottom: 20px;
  & .field__name {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
  }
  & .field__input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
    &.valid {
      box-shadow:
        0 0 5px green,
        0 0 6px green,
        0 0 7px green,
        0 0 8px green,
        0 0 9px green;
    }
    &.invalid {
      box-shadow:
        0 0 5px red,
        0 0 6px red,
        0 0 7px red,
        0 0 8px red,
        0 0 9px red;
    }
    &.untouched {
      box-shadow: none;
    }
  }
  & .field__error {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    &-message {
      color: red;
    }
  }
}
