.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  background: rgb(20, 30, 48);
  background: linear-gradient(90deg, rgba(20, 30, 48, 1) 0%, rgba(36, 59, 85, 1) 100%);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  justify-items: center;
  .card {
    position: relative;
    width: 250px;
    min-height: 300px;
    .front {
      width: 100%;
      height: 100%;
      background: #00a170;
      padding: 30px;
      transition: 0.5s;
      transform-origin: right;
      transform: translateX(-100%) rotateY(90deg);
      border-radius: 15px;
      &.active {
        transform: translateX(0) rotateY(0deg);
      }
      .divider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .location {
          font-weight: 600;
          width: 50%;
          text-align: left;
          color: #fff;
        }
        .wave-btn {
          width: 50%;
          height: 30px;
          display: flex;
          border-radius: 0 0 10px 10px;
          justify-content: center;
          align-items: center;
          transition: all 0.8s ease 0s;
          background: none;
          position: relative;
          overflow: hidden;
        }

        .wave-btn:hover {
          border-radius: 10px;
          transition: all 0.8s ease 0.2s;
          box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
        }

        .wave-btn:hover .wave-btn__waves {
          top: -50px;
        }

        .wave-btn__text {
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 1px;
          position: relative;
          z-index: 1;
        }

        .wave-btn__waves {
          position: absolute;
          height: 280px;
          width: 280px;
          top: 0;
          left: 0;
          background-color: #4973ff;
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          transition: top 0.8s ease 0s;
          will-change: top;
        }

        .wave-btn__waves::after,
        .wave-btn__waves::before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 250%;
          height: 250%;
          transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        }

        .wave-btn__waves::before {
          background-color: #333;
          border-radius: 48%;
          animation: waves 5s infinite linear;
        }

        .wave-btn__waves::after {
          background-color: rgba(51, 51, 51, 0.5);
          border-radius: 44%;
          animation: waves 10s infinite linear;
        }
      }
      .weather {
        width: 100%;
        height: 100px;
        position: relative;
        padding: 50px 0 20px;
        text-align: center;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .forecast {
        li {
          padding: 10px 0;
          border-bottom: 2px solid #fff;
          display: flex;
          font-weight: 600;
          cursor: pointer;
          color: #fff;
          &:last-child {
            border-bottom: none;
          }
          .day {
            width: 50%;
          }
          .temperature {
            width: 50%;
            text-align: right;
          }
        }
      }
    }
    .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      background: #d2386c;
      transform-origin: left;
      transition: 0.5s;
      transform: translateX(100%) rotateY(90deg);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      &.active {
        transform: translateX(0) rotateY(0deg);
      }
      li {
        padding: 10px 0;
        border-bottom: 2px solid #fff;
        display: flex;
        font-weight: 600;
        cursor: pointer;
        color: #fff;
        &:last-child {
          border-bottom: none;
        }
        .day {
          width: 50%;
        }
        .temperature {
          width: 50%;
          text-align: right;
        }
      }
      .wave-btn {
        align-self: flex-end;
        width: 50%;
        height: 30px;
        display: flex;
        border-radius: 0 0 10px 10px;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease 0s;
        background: none;
        position: relative;
        overflow: hidden;
      }

      .wave-btn:hover {
        border-radius: 10px;
        transition: all 0.8s ease 0.2s;
        box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
      }

      .wave-btn:hover .wave-btn__waves {
        top: -50px;
      }

      .wave-btn__text {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        z-index: 1;
      }

      .wave-btn__waves {
        position: absolute;
        height: 280px;
        width: 280px;
        top: 0;
        left: 0;
        background-color: #4973ff;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
        transition: top 0.8s ease 0s;
        will-change: top;
      }

      .wave-btn__waves::after,
      .wave-btn__waves::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 250%;
        height: 250%;
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
      }

      .wave-btn__waves::before {
        background-color: #333;
        border-radius: 48%;
        animation: waves 5s infinite linear;
      }

      .wave-btn__waves::after {
        background-color: rgba(51, 51, 51, 0.5);
        border-radius: 44%;
        animation: waves 10s infinite linear;
      }
    }
  }
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }

  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

@media (max-width: 1030px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 780px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 780px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 510px) {
  .container {
    grid-template-columns: 1fr;
  }
}
