.wrapper {
  position: relative;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .checkbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &__input {
      visibility: hidden;
      appearance: none;
      &:checked ~ .checkbox__visible {
        background: #aa076b;
        border: 1px solid #aa076b;
      }
      &:checked ~ .checkbox__visible::before {
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
      }
    }
    &__visible {
      position: absolute;
      left: 10px;
      width: 20px;
      height: 20px;
      border: 1px solid #607d8b;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: '';
        position: absolute;
        top: 5px;
        width: 10px;
        height: 5px;
        border-left: 2px solid #607d8b;
        border-bottom: 2px solid#607d8b;
        transform: rotate(-40deg);
      }
    }
    & .checkbox__text {
      position: absolute;
      left: 40px;
      width: 100px;
      color: #607d8b;
    }
  }
}
