<div class="wrapper">
  <span class="field__name">{{ placeHolder() }}</span>
  <input
    class="field__input"
    type="password"
    (input)="eventStarted($event)"
    [class.invalid]="
      _objectForControlsPassword.invalid &&
      (_objectForControlsPassword.touched || _objectForControlsPassword.dirty)
    "
    [class.valid]="_objectForControlsPassword.valid"
    #field
    value="{{ password }}"
  />
  @if (
    _objectForControlsPassword.invalid &&
    (_objectForControlsPassword.touched || _objectForControlsPassword.dirty)
  ) {
    <div class="field__error">
      @if (_objectForControlsPassword.errors?.required) {
        <span class="field__error-message">This field is required</span>
      }
    </div>
  }
  @if (!mainFieldPassword()) {
    <div class="field__error">
      @if (message) {
        <span class="field__error-message" [class.greenText]="message === 'Complex password'">{{
          message
        }}</span>
      }
    </div>
  }
  @if (mainFieldPassword()) {
    <div class="field__error">
      @if (mainFieldPassword() !== password) {
        <p class="field__error-message">Passwords must be same</p>
      }
    </div>
  }
  <div class="field__icon" (click)="handle($event, field)">
    <svg width="36" height="36">
      <use xlink:href="../../../../../assets/img/sprite.svg#view" data-svg="view"></use>
    </svg>
  </div>
</div>
