<section class="wrapper">
  <h2 class="title" data-title="Countries of the World">Countries of the World</h2>
  <form action="" class="form">
    <div class="form__row">
      <label for="sort" class="form__row-label">Filter by name</label>
      <input
        type="text"
        name="search"
        id="sort"
        class="form__row-input"
        [value]="searchCountry()"
        (input)="searchCountry.set($any($event.target).value)"
      />
    </div>
    <div class="form__row">
      <label for="sort" class="form__row-label">Sort by Regional Block</label>
      <select name="" id="sort" class="form__row-select" (change)="onFilterChange($event)">
        @for (option of options; track option.value) {
          <option [ngValue]="option.value" [value]="option.value">
            {{ option.name }}
          </option>
        }
      </select>
    </div>
  </form>
  @if (countries().length > 0) {
    <app-country-block
      [data]="countries()"
      [searchItem]="searchCountry()"
      [changing]="userUpdatedEvent"
      [resetLoading]="resetLoadingSignal()"
    ></app-country-block>
  }
  @if (countries().length === 0) {
    <app-loader></app-loader>
  }
</section>
