<header class="header">
  <a routerLink="/home" class="header__logo">Logo</a>
  <div class="header__toggle" (click)="onToggleClick($event)"></div>
  <ul class="header__navigation" #navigation>
    <li><a class="header__navigation-link" routerLink="/home">Home</a></li>
    <li>
      <a class="header__navigation-link" routerLink="/articles">Articles</a>
    </li>
    <li><a class="header__navigation-link" routerLink="/login">Login</a></li>
    <li>
      <a class="header__navigation-link" routerLink="/registration">Registration</a>
    </li>
    <li>
      <a class="header__navigation-link" routerLink="/films">Films</a>
    </li>
    <li>
      <a class="header__navigation-link" routerLink="/country">Countries</a>
    </li>
  </ul>
</header>
