<section class="wrapper">
  <main class="container">
    <section class="image">
      <div class="image__box" (click)="onImageClick($event)">
        <img src="../../../assets/img/1.webp" alt="" />
      </div>
    </section>
    <div class="image">
      <div class="image__box" (click)="onImageClick($event)">
        <img src="../../../assets/img/2.webp" alt="" />
      </div>
    </div>
    <div class="image">
      <div class="image__box" (click)="onImageClick($event)">
        <img src="../../../assets/img/3.webp" alt="" />
      </div>
    </div>
    <div class="image">
      <div class="image__box" (click)="onImageClick($event)">
        <img src="../../../assets/img/4.webp" alt="" />
      </div>
    </div>
  </main>
  <footer class="footer">
    <ul class="footer__sci">
      <li><a href="" class="footer__sci-link">Facebook</a></li>
      <li><a href="" class="footer__sci-link">Twitter</a></li>
      <li><a href="" class="footer__sci-link">Instagram</a></li>
    </ul>
    <p class="footer__copyright">&#169;Anton Komarnitskyi</p>
  </footer>
</section>
