.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  .title {
    font-weight: 500;
    font-size: 1.3rem;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    &__card {
      position: relative;
      background: #000;
      overflow: hidden;
      border-radius: 25px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      &-poster {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.5s linear;
        }
        &::before {
          content: '';
          position: absolute;
          bottom: -100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, #000 50%, transparent);
          transition: 0.5s;
          z-index: 1;
        }
      }
      &-details {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: -100%;
        left: 0;
        transition: 0.5s;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        h4 {
          color: #fff;
          font-size: 1.8rem;
          text-align: center;
        }
        .type {
          position: relative;
          padding: 2px 5px;
          background: #7206f7;
          color: #000;
          display: inline-block;
          border-radius: 4px;
          text-align: center;
          font-size: 1.3rem;
        }
        .year {
          display: inline-block;
          font-size: 1.1rem;
          background: #ef06f7;
          border-radius: 4px;
          padding: 2px 5px;
          color: #000;
        }
        .button {
          line-height: 40px;
          display: inline-block;
          cursor: pointer;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding: 0 40px;
          font-size: 18px;
          border-radius: 25px;
          background-color: #bfc0c4;
          position: relative;
          overflow: hidden;
          transition: all 0.3s ease 0s;
          span {
            position: relative;
            z-index: 2;
          }
          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 25px;
            background-color: #141e30;
            transition: all 0.3s ease 0s;
            transform: scale(0);
          }
          &:hover {
            color: #fff;
            &::before {
              transform: scale(1);
            }
          }
        }
      }
      &:hover .content__card-details {
        bottom: 0;
      }
      &:hover .content__card-poster::before {
        bottom: 0;
      }
      &:hover .content__card-poster img {
        filter: blur(5px);
        transform: translateY(-50px);
      }
    }
  }
}

@media (max-width: 830px) {
  .wrapper {
    width: 100%;
    .content {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }
  }
}

@media (max-width: 630px) {
  .wrapper {
    width: 100%;
    .content {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }
}

@media (max-width: 630px) {
  .wrapper {
    width: 100%;
    .content {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 5px;
    }
  }
}

@media (max-width: 470px) {
  .wrapper {
    width: 100%;
    .content {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 5px;
    }
  }
}
