.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../../assets/img/warning_cyit.svg'), #151729;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 99999999;
  .content {
    max-width: 600px;
    text-align: center;
    &__message-main {
      position: relative;
      font-size: 1.5em;
      line-height: 1em;
      margin-bottom: 20px;
      color: #111;
      background: #fff;
      font-weight: 300;
      padding: 10px 20px;
      display: inline-block;
    }
    &__message-additional {
      color: #fff;
      font-size: 1.2em;
    }
    .content__link {
      position: relative;
      display: inline-block;
      padding: 10px 25px;
      background: #ff0562;
      color: #fff;
      text-decoration: none;
      margin-top: 25px;
      border-radius: 25px;
      border-bottom: 4px solid #d00d56;
    }
  }
}

@media (max-width: 991px) {
  .wrapper {
    top: 60px;
    min-height: calc(100vh - 60px);
  }
}
